@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

body{
    font-family: "Josefin Sans";
    font-size: 16px;
    color: hsl(0, 36%, 70%);
    background: rgb(255,255,255);
    background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(255,245,245,1) 35%);
    margin: 0;
}

h1{
    font-size: 70px;
    letter-spacing: 15px;
    margin-bottom: 10px;
}

p{
    line-height: 1.5em;
    margin-bottom: 3em;
}

.container{
    display: flex;
    justify-content: space-between;
    position: fixed;
}

.description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15em;
    width: 25%;
    z-index: 10;
}

.logo{
    position: absolute;
    width: 10%;
    top: 5%;
}

.formButton{
    position: relative;
    display: flex;
    height: 5%;
    align-items: center;
}

.emailInput{
    padding-left: 2em;
    font-family: "Josefin Sans";
    font-size: 16px;
    width: 90%;
    height: 100%;
    z-index: 1;
    border: 1px solid hsl(0, 36%, 70%);
    border-radius: 30px;
    background: rgb(255,255,255);
    background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(255,245,245,1) 35%);
    outline: none;
}

::placeholder{
    color: hsl(0, 36%, 70%);
    font-size: 16px;
    font-family: "Josefin Sans";
}

.imagecontainer{
    display: flex;
    justify-content: center;
    width: 23%;
    height: 114%;
    background: rgb(248,191,191);
    background: linear-gradient(135deg, rgba(248,191,191,1) 0%, rgba(238,140,140,1) 35%);
    border-radius: 30px;
    z-index: 2;
    position: absolute;
    right: 0;
}

#text{
    display: none;
    z-index: 20;
    bottom: 13%;
    position: absolute;
    font-size: 14px;
    font-weight: 600;
    margin-left: 2em;
    color: hsl(0, 93%, 68%);
}

.errorsign{
    display: none;
    position: absolute;
    z-index: 20;
    right: 30%;
}

.submitBtn{
    padding: 1em 3em;
    border-radius: 30px;
}

.submitBtn:hover{
    box-shadow: 15px 20px 30px rgb(128, 126, 126);
    background-color: rgb(255, 172, 172);
}

.backgroundimg{
    z-index: 0;
    height: 1080px;
}

.mainimg{
    height: 100%;
    z-index: 50;
}

@media (max-width: 900px){
    html{
        height: 100%;
    }
    body {
        min-height: 100%;
    }
    .container{
        flex-direction: column-reverse;
        justify-content: start;
        position: absolute;
    }
    .backgroundimg{
        display: none;
    }
    .mainimg{
        margin-top: 5em;
        width: 100%;
        height: auto;
    }
    .logo{
        width: 30%;
        left: 10%;
        top: 3%;
    }
    h1{
        font-size: 40px;
        text-align: center;
        margin-top: 0;
    }
    p{
        text-align: center;
        width: 80%
    }
    .description{
        margin-top: 3em;
        align-items: center;
        margin-left: 0;
        width: 100%;
    }
    .formButton{
        height: 45px;
        width: 80%;
    }
    #text{
        margin: 1em 0;
        margin-left: 5em;
        text-align: left;
        position: relative;
    }
    .submitBtn:hover{
        box-shadow: none;
        background: rgb(248,191,191);
        background: linear-gradient(135deg, rgba(248,191,191,1) 0%, rgba(238,140,140,1) 35%);
    }
}